.radio-group {
	margin: 2rem 0;
	.radio-buttons-wrapper {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		.wrapper {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 1rem;
			margin-right: 5rem;
			margin-top: 3rem;
			cursor: pointer;
			font-size: 22px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			@media screen and (max-width: 670px) {
				margin-bottom: 4rem;
			}
		}
		.wrapper input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 2.5rem;
			padding: 1rem 3.5rem;
			width: 5rem;
			background-color: #eee;
			border-radius: 35px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 0.65rem;
			margin-right: 2rem;
			white-space: nowrap;
		}
		.wrapper:hover input ~ .checkmark {
			background-color: darken(#efefef, 10%);
		}
		.wrapper input:checked ~ .checkmark {
			background-color: darken(#efefef, 25%);
		}
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}
		.wrapper input:checked ~ .checkmark:after {
			display: block;
		}
		.wrapper .checkmark:after {
			top: 9px;
			left: 9px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: transperent;
		}
	}
}
